body {
    background-color: #eee;
    font-family: var(--default-font);
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 0 30px;
    background-color: #eee;
    box-shadow: inset 0 0 15px 7px #d4d4d4;
}

p {
    line-height: 170%;

    :last-of-type {
        padding-bottom: 30px;
    }
}
