.main-header {
    padding-top: 35px;
}

header {
    padding: 15px;
    box-shadow: 0 0 15px 7px #d4d4d4;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    line-height: 150%;
    margin-top: 20px;
}